.gallery-card {
    border: 2px solid #ffe9ec;
    border-radius: 4px;
    background-color: #f9f9f9;
    margin: 10px;
  }

.scrollable-container {
    max-height: 310px; 
    overflow-y: auto; 
    overflow-x: hidden; 
}
.mat-card-header {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  width: 100%;
}

.mat-card-header-text {
  flex-grow: 1; 
}

.icon-color {
    color: #fe7789
}
  
.content-padding {
    padding-bottom: 10px;
}