<div class="main-container">
  <h1 style="text-align: center;">Create an Account</h1>
  <form [formGroup]="accountForm" (ngSubmit)="onClick()">
    <div class="form-row">
      <span class="form-label">First Name:</span>
      <mat-form-field appearance="fill" class="form-field">
        <mat-label>First Name</mat-label>
        <input matInput placeholder="First Name" formControlName="first_name">
      </mat-form-field>
    </div>

    <div class="form-row">
      <span class="form-label">Last Name:</span>
      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="Last Name" formControlName="last_name">
      </mat-form-field>
    </div>

    <div class="form-row">
      <span class="form-label">Username:</span>
      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Username" formControlName="username">
      </mat-form-field>
    </div>

    <div class="form-row">
      <span class="form-label">Password:</span>
      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Password</mat-label>
        <input matInput type="password" placeholder="Password" formControlName="password">
      </mat-form-field>
    </div>

    <div class="form-row">
      <span class="form-label">Age:</span>
      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Age</mat-label>
        <input matInput type="number" placeholder="Enter a number" formControlName="age">
      </mat-form-field>
    </div>

    <div class="form-row">
      <span class="form-label">Gender:</span>
      <mat-form-field appearance="fill">
        <mat-label>Select an option</mat-label>
        <mat-select formControlName="gender">
          <mat-option value="man">Man</mat-option>
          <mat-option value="woman">Woman</mat-option>
          <mat-option value="nonbinary">Nonbinary</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <h3>Select Your Preferences:</h3>
      <mat-checkbox value="man" (change)="onCheckboxChange($event)">Man</mat-checkbox>
      <mat-checkbox value="woman" (change)="onCheckboxChange($event)">Woman</mat-checkbox>
      <mat-checkbox value="nonbinary" (change)="onCheckboxChange($event)">Nonbinary</mat-checkbox>
      
    <br>
    <button mat-raised-button type="submit" style="background-color: #ffe9ec;">Create Account</button>
  </form>
</div>
