:host {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffe9ec;
    min-height: 100vh;
    width: 100%;
}

.main-container {
    width: 100%;
    max-width: 600px;
    padding: 32px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.mat-form-field {
    width: 100%;
}

.form-row {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}
